H1 {
	font-size: 20px;
}

P { 
	font-size:12px;
	color: rgb(5, 189, 5);
}

ol {list-style-type: lower-alpha;
}

ul {list-style-type: square;
}
body {
	background-color: black;
	color: white;
}
.mydiv {
	border: 2px dotted;
	height: 100px;
	width: 100px;
}